#DIVS{
    display: flex;
    justify-content: space-between;
}
.IMGS{
    height: 400px;
    width: 300px;
    
}
#bodd{
    background-color: crimson;
}
#h11{
    align-content: center;
}
.images{
    margin: 20px;
}

