 #h1{
    text-align: center;
    font-weight: bold;
    font-style: normal;
 }
 #body1{
    background-color: crimson;
    display: flex;
    justify-content: center;
    margin:auto ;
    width: 50%;
    
    
    
 }
 #form1{
    background-color: aliceblue;
    width: 600px;
    padding: 40px;
    
 }
 